### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule potwierdz index.html
RewriteRule strona-glowna glowna.html
RewriteRule historia historia.html
RewriteRule jak-zrobic jakzrobic.html
RewriteRule o-nas onas.html
RewriteRule kontakt kontakt.html
