RewriteEngine on
RewriteRule potwierdz index.html
RewriteRule stronaglowna gl.html
RewriteRule historia historia.html
RewriteRule jakzrobic jakzrobic.html
RewriteRule onas onas.html
RewriteRule kontakt kontakt.html
